<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>RUTA_LOGS/proxy_log.txt</file>
    <!-- Rotado diario o por tamanyo -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Nombre del fichero de rotado -->
      <fileNamePattern> proxy_log -%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
       <!-- Tamanyo maximo de fichero de 50MB, maximo de 20 ficheros totales y un tamanyo total no superior a 1GB -->
       <maxFileSize>50MB</maxFileSize>    
       <maxHistory>20</maxHistory>
       <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern> %d %-5level [%thread] %logger{0}: %msg%n </pattern>
    </encoder>
  </appender>


    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>